<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Timetable Generator</title>
  <link rel="stylesheet" type='text/css' href="/styles/index.css" />
</head>
<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form action="/home" class="sign-in-form" method="POST">
            <div class="heading">
              <h2>Welcome Back!</h2>
            </div>
            <div class="actual-form">
              <div class="input-wrap">
                <input type="text" name="email" minlength="4" class="input-field" required />
                <label>Email</label>
              </div>
              <div class="input-wrap">
                <input type="password" name="password" class="input-field" autocomplete="off" required />
                <label>Password</label>
              </div>
              <button type="submit" value="Sign In" class="sign-btn">Login</button>
              <p class="text">
                Forgotten your password? <a href="#">Get help</a> signing in
              </p>
            </div>
          </form>
        </div>
        <div class="carousel">
          <div class="images-wrapper">
            <img src="./img/image1.png" class="image img-1 show" alt="" />
            <img src="./img/image2.png" class="image img-2" alt="" />
            <img src="./img/image3.png" class="image img-3" alt="" />
          </div>
          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Create timetable</h2>
                <h2>Generate as you like</h2>
                <h2>Get conflict-free timetable</h2>
              </div>
            </div>
            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../actions/index.js"></script>
</body>
</html>
